#character {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 32px;
    width: 32px;
    background-image: url('../../../assets/images/standing.png');
    animation: play 0.6s steps(3) infinite;
}

@keyframes play {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -96px;
    }
}